Provisions regarding the requirements for toilet compartment fire detection and suppression equipment are contained in the relevant documents (e.g. for the EU such a document is “Certification Specifications and AMC for Large Aeroplanes CS-25” by EASA). Although there may be slight differences from country to country, the main points usually are: