As far as practicable, the rules and procedures of ICAO and the provisions of EU regulations are to be used as a basis and national authorities may establish additional requirements. Therefore, aircrews need to consult the relevant documents (e.g. AIP, EUROAT chapters) of the States they intend to over-fly to ensure appropriate regulatory compliance. The following requirements are defined in the EUROAT document: