ICAO Annex 14, Volume I "Aerodrome Design and Operations" requires States to establish a safety programme in order to achieve an acceptable level of safety in aerodrome operations. As part of their safety programme, States shall require certified aerodrome operators to implement an accepted safety management system (SMS). The scope of the SMS shall include as a minimum: