Some specific factors relevant to aircraft and airport fire fighting lead to specific requirements for the apparatus used for this purpose: Because of these factors, relevant regulations state the requirements that RFFS apparatus must be able to meet. The most important of these are: