There is no ICAO imposed obligation for States to conduct an investigation into an incident. However, Annex 13, paragraph 6.9 recommends that incidents involving aircraft of over 5 700 kg be reported if the investigation has revealed matters considered to be of interest to other States. If a State has determined that a specific incident is significant enough to warrant an investigation, then an Incident Data Report should be sent to ICAO ADREP.