ICAO Annex 6 — Operation of Aircraft, Part I — International Commercial Air Transport — Aeroplanes, and Part III — International Operations — Helicopters, requires States to establish a safety programme in order to achieve an acceptable level of safety in the operation of aircraft. As part of their safety programme, States require operators to implement an SMS consistent with ICAO SMS standards and guidance. An SMS allows operators to integrate their diverse safety activities into a coherent system. Examples of safety activities that might be integrated into an operator’s SMS include: a) Hazard and incident reporting; b) Flight Data Analysis (FDA); c) Line Operations Safety Audit (LOSA); and d) Cabin Safety monitoring.