Helicopters are also susceptible to the effects of wake turbulence from large fixed wing aircraft, and ICAO separation requirements apply equally to helicopters as well as fixed wing aircraft. No specific separation minima are considered necessary for helicopters because of the way they operate in relation to streams of in trail fixed wing aircraft. Separation can be applied as a minimum distance or time, dependent on criteria such as aircraft weight and weather conditions. Separation minima are not usually applied to helicopters unless they are operating IFR and in streams of fixed wing aircraft.