a) the vertical navigation performance capability of the aeroplane satisfies the (laid down requirements); b) the operator has instituted appropriate procedures in respect of continued airworthiness (maintenance and repair) practices and programmes; and c) the operator has instituted appropriate flight crew procedures for operation in RVSM airspace. Note: An RVSM approval is valid globally on the understanding that any operating procedures specific to a given region will be stated in the Operations Manual or appropriate crew guidance. (ICAO Annex 6 Part I Chapter 7, Para 7.2.5.)