The multiple requirements which bear upon European States as a result of their membership of European bodies has been recognised and addressed. The international organisations concerned have engaged in extensive coordination to ensure that all applicable requirements are aligned to the maximum possible extent, and that the definitions and taxonomies used are as consistent as possible. Beyond this, advances in technology have increased the opportunities for data exchange, and can help to minimise the number of separate reports to be submitted by a State.