Some countries impose additional call sign requirements. For instance, the FAA require that the following criteria are met if a call sign is to be authorized in the NAS (National Airspace System): Examples of FAA acceptable call sign designators with flight number: MDSTRl, RDDL172, ABX91, AAL351A and SWA2604. Examples of FAA unacceptable call sign designators with flight number: RDDL1720 (more than seven characters), NEWS42G (additional alphabet letter used for non-scheduled operator), BKA16CH (two alphabet letters), and LBQ17523 (more than seven characters).