European Union Aviation Safety Agency (EASA) and U.S. Federal Aviation Administration (FAA) regulations both stipulate requirements for emergency floor path illlumination. The principles are: When smoke is obscuring sources of illumination, or in darkness, the emergency floor lighting should be sufficiently bright to see.. After leaving their seat, emergency floor lighting must enable the passenger to visually identify the escape path to the first exits forward and aft of their seat.. The emergency lighting must be able to operate in the event of an interruption of the aircraft’s normal electric power supply.. Regulations also stipulate requirements for exterior lighting to enable evacuating passengers to locate the means to descend to the ground from, for example, overwing exits.