European Union Aviation Safety Agency (EASA) and U.S. Federal Aviation Administration (FAA) regulations both stipulate requirements for emergency floor path illlumination. The principles are: Regulations also stipulate requirements for exterior lighting to enable evacuating passengers to locate the means to descend to the ground from, for example, overwing exits.