Unmanned free balloons need to comply with various requirements before they launch, e.g.: The termination devices/systems are to be used whenever it is considered that the flight poses a threat to other parties or prior to unauthorized entry into the airspace over another State’s territory.