At national level, the monitoring of safety performance falls within the State’s responsibility for safety oversight, as required by Regulation 2017/373 - Requirements for providers of ATM/ANS and other ATM network functions and their oversight and by EUROCONTROL Safety Regulatory Requirement ESARR 1. At organisational level, the monitoring and management of safety performance falls within the operation of the service-provider’s SMS, as required by Regulation (EU) No 1035/2011 laying down common requirements for the provision of air navigation services and by EUROCONTROL Safety Regulatory Requirement ESARR 3.