Examples of State Regulatory Requirements / Guidance Material include those issued by EASA under GM1 CAT.OP.MPA.210 - MITIGATING MEASURES – CONTROLLED REST, and Transport Canada as Part VII - Commercial Air Services, Standard 720.23 "Controlled Rest on the Flight Deck".