The National Aviation Authority (NAA) for each sovereign state is responsible for issuing an aircraft type certificate, in accordance with the guidance provided in the ICAO Standards and Recommended Practices (SARPS), for aircraft that are registered within its jurisdiction. While the SARPS provide the agreed minimum requirements for type certification, each NAA has the right to insist that additional criteria be satisfied before an aircraft type certificate will be issued. Within the European Union, type certificates are issued by the European Union Aviation Safety Agency (EASA) whose website may be found here