Relevant regulations (e.g. Commission regulation (EC) No 859/2008 for the EU, Regulation 14 CFR 91.107 in the US) determine the seat belt requirements on passenger aircraft. Although there might be slight differences in the details in different parts of the world, the most common rules are: