Seat belts restrain the body movement when excessive force is applied (e.g. in a crash, during severe turbulence, etc.) which helps people survive by: Since it is generally not known when an aircraft will pass through turbulence (especially clear air turbulence), it is in the interest of safety that all passengers on board are secured in their seats for as much of the time as practical. Fatal injuries resulting of non compliance with the in-flight seat belts requirements: