Amendment 85 to ICAO Annex 10 volume IV, published in October 2010, introduced a provision stating that: On 20 December 2011, the European Commission published an Implementing Rule, subsequently amended on 16 April 2016, mandating the carriage the carriage of ACAS II version 7.1 within European Union airspace earlier than the dates stipulated in ICAO Annex 10: For additional details read the article on SKYbrary: Regulation 1332/2011 for laying down common airspace usage requirements and operating procedures for airborne collision avoidance