The FMP officers must be adequately trained and competent. The core requirements include: extensive knowledge of ATC/ATFCM operations. extensive ATC experience, knowledge and understanding of ATC matters. extensive knowledge of the NM operations. appropriate ATFCM training. These requirements extend to any staff (e.g. [[ACC supervisors]]) who carry out the task of the FMP during less busy periods.