There are three main types of constraints with regard to the equipage and use of military aircraft: These constraints often lead to adaptation of ATM procedures so that military aircraft can be accommodated. As a general rule each state has a choice whether or not to equip its military aircraft with a particular technology and, even if the equipage is mandatory, there are long transitional periods. Examples of military aircraft exemptions are: