Simultaneous close parallel ILS PRM approaches are depicted on a separate Approach Procedure Chart titled ILS PRM Rwy XXX (Simultaneous Close Parallel). Note that one or both of the ILS PRM approaches in a simultaneous close parallel operation may be substituted with RNAV PRM or GLS PRM approaches. Because Simultaneous Close Parallel PRM approaches are independent, the NTZ and normal operating zone (NOZ) airspace between the final approach courses is monitored by two monitor controllers, one for each approach course. Simultaneous Close Parallel PRM approaches must meet all of the following requirements: One of the unique features of Simultaneous Close Parallel PRM Approaches concerns the "breakout" protocol. Because of the close proximity of aircraft on adjacent approaches, should an aircraft on approach blunder into the NTZ, it will be the aircraft on the opposite approach that will be given breakout instructions by ATC.