According to Section 107.19, “Remote Pilot in Command,” the remote pilot in command must ensure that the sUAS aircraft (or an object carried on board or dropped from it) will pose no undue hazard to other people, other aircraft, or other property in the event of a loss of control of the aircraft for any reason. Other sections of Part 107 focus on prohibiting certain sUAS aircraft operations, unless permissable waivers are granted by FAA, such as these examples: