ESARR 6 requires ATM service providers to implement a software safety assurance system within the framework of their safety management systems to deal specifically with software related risk assessment and mitigation aspects, including all on-line software operational changes. The software safety assurance system must ensure allocation of software assurance levels to all operational ATM software. These levels relate to the rigour of the software assurance and the safety criticality of the assessed software. A minimum of four software assurance levels are required, with level 1 indicating the most critical level. Software assurance levels are allocated according to the most adverse effect that software malfunctions or failures may cause, as per ESARR 4. ESARR 6 mandatory provisions include software validation and verification, configuration management and requirements traceability assurances within the scope of the software safety assurance system.