The requirements for obtaining an AOC vary from country to country, but are generally defined as: The certificate is held by a legal person who resides in the country or region of application (for EASA)