Amendment 85 to ICAO Annex 10 volume IV, published in October 2010, introduced a provision stating that: On 20 December 2011, the European Commission published an Implementing Rule, subsequently amended on 16 April 2016, mandating the carriage of ACAS II version 7.1 within European Union airspace earlier than the dates stipulated in ICAO Annex 10: In some parts of the world, notably in the United States, the ACAS equipage mandate is different.