of a present weather detector is to detect precipitation and, in some cases, discriminate type and intensity.. Sensors used to detect and measure present weather are considered to be an aid to an observer rather than a direct source of information for the METAR.. The sensor should be located as far as practicable from the shielding effects of structures, buildings and other obstacles.. The sensor should be capable of detecting precipitation of rate greater than or equal to 0.05 mm per hour, within 10 minutes of the precipitation commencing.. The sensor should discriminate the following present weather phenomena and their intensity as a minimum rain, drizzle, snow, rain and snow, freezing rain, freezing drizzle, fog, freezing fog, mist and haze..